body {
    margin: 0;
    background-color: #222930;
    font-family: Arial, Helvetica, sans-serif;
    color: #E9E9E9;
}

a {
    color: inherit;
}

span.additional-indentation p {
    padding-left: 16px;
}

.content {
    padding: 16px;
}

.manage {
    padding: 16px;
    border-top: 0.1em solid #4EB1BA;
    margin-top: 16px;
}

.manage input {
    margin: 5px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #E9E9E9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #398b93;
}

.active {
    background-color: #329a9a;
}

.highlight {
    color: #b8860b;
}

.comment {
    display: block;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 1.1em;
}

table {
    padding: 15px;
    border-collapse: collapse;
}

table, th {
    border: 2px solid black;
}

td {
    border: 1px solid black;
}

th, td {
    text-align: center;
    padding: 10px;
}
