{% extends 'conference_rooms/base.html' %}

{% block content %}
    <div class="content">
        <h2>Room</h2>
        <p>Name: {{ object }}</p>
        <p>Capacity: {{ object.capacity }}</p>
        <p>Projector:
            {% if object.projector_is_available %}
                Available
            {% else %}
                Not Available
            {% endif %}</p>
    </div>
    <span class="additional-indentation">
    <p><strong>Reservations:</strong></p>
        {% if reservations %}
            {% for reservation in reservations %}
                <p><a href="{% url 'reservation-detail-view' reservation.id %}">{{ reservation }}</a></p>
            {% endfor %}
        {% else %}
            <p><a class="highlight" href="{% url 'reservation-create-view' %}">Make New Reservation</a></p>
        {% endif %}
    </span>
{% endblock %}
